

.removeAllButton {
    color: black !important;
    text-decoration: underline !important;
    opacity: 0.6;    
}

.removeAllButton:hover {
    color: #D87D4A !important;
    opacity: 1;
}

.menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%) !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1 !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-weight: 700;
}

.categoryCard a:hover {
    color: #D87D4A;
    opacity: 1;
}

.navlinks a,
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navlinks a:hover,
.footer-links a:hover {
    color: #D87D4A;
}

.footer-container p {
    color: white;
    opacity: 0.6;
    font-weight: 500;
}

.new-product {
    color: #D87D4A;
    letter-spacing: 10px;
}

.back-button {
    text-decoration: none;
    color: black;
    margin-bottom: 1.5rem;
    display: inline-block;
}

.back-button:hover {
    color: #D87D4A;
}

.sub-text {
    color: black;
    opacity: 0.6;
    font-weight: 500;
}

.item-quantity-update-box {
    display: flex;
    align-items: center;
    background-color: #F1F1F1;
    font-weight: 700;
}

.cart-quantity-button {
    color: gray !important;
}

.cart-quantity-button:hover {
    color: #D87D4A !important;
}


@media screen and (min-width: 0px) {
    .cart-quantity-button {
        padding: 1rem 0 !important;
        min-width: 2.25rem !important;
    }
}

@media screen and (min-width: 400px) {
    .cart-quantity-button {
        padding: 1rem 0 !important;
        min-width: 3rem !important;
    }
}

@media screen and (min-width: 600px) {
    .cart-quantity-button {
        padding: 1rem 0 !important;
        min-width: 2.5rem !important;
    }
}

@media screen and (min-width: 900px) {
    .cart-quantity-button {
        padding: 1rem 0 !important;
        min-width: 4rem !important;
    }
}

.cart-checkout-button {
    text-align: center;
    width: 100%;
    letter-spacing: 1px;
    padding: 1rem 0;
    text-decoration: none;
    font-weight: 600;
    color: white;
    background-color: #D87D4A;
}

.cart-checkout-button:hover {
    background-color: #FBAF85;
}

@media screen and (min-width: 1200px) {
    .back-button {
        margin-bottom: 3.5rem;
    }
}

@media screen and (min-width: 1200px) {
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.cart-total-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total-box p {
    opacity: 0.7;
}

.cart-total-box span {
    font-weight: 700;
}

@media screen and (min-width: 0px) {
    .cart-total-box > * {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 900px) {
    .cart-total-box > * {
        font-size: 1.5rem;
    }
}


.mobile-menu-link {
    text-decoration: none;
    color: black;
    opacity: 0.6;
    font-weight: 700;
}

.mobile-menu-link:hover {
    color: #D87D4A;
    opacity: 1;
}


/*  
    ***********************
        HOME PAGE
    ***********************  
*/

.showcase-a,
.showcase-b,
.showcase-c > * {
    border-radius: 7px;
}

.showcase-a {
    background-color: #D87D4A;
    color: white;
}

.showcase-a-img {
    background: url(../assets/home/image-speaker-zx9.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
    width: 100%;
    height: 100%;
}

.showcase-a a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
}

.showcase-a a:hover {
    background-color: #4C4C4C;
}

.showcase-b {
    background: url(../assets/home/image-speaker-zx7.jpg) no-repeat center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase-b a,
.showcase-c a {
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    width: fit-content;
}

.showcase-b a:hover,
.showcase-c a:hover {
    background-color: black;
    color: white;
}

.showcase-c-img {
    background: url(../assets/home/image-earphones-yx1.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.showcase-c-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
}


/*  
    ***********************
        ABOUT US
    ***********************  
*/

.about-us-img {
    background: url(../assets/home/image-best-gear.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about-us-text p {
    opacity: 0.6;
}


/*  
    ***********************
        CATEGORY PAGE
    ***********************  
*/

.category-page-category {
    color: white;
    background-color: black;
    font-weight: 700 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-top: 1px solid white;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 7px;
}

.product-name {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.product-description {
    opacity: 0.6;
}

.product-info {
    width: 100%;
}

.product-info a {
    text-decoration: none;
    background-color: #D87D4A;
    color: white;
    padding: 1rem 2rem;
    display: inline-block;
}

.product-info a:hover {
    background-color: #FBAF85;
}


/*  
    ***********************
        PRODUCT PAGE
    ***********************  
*/

.gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.quantity-button {
    padding: 1rem;
    height: 100%;
    color: gray !important;
}

.quantity-button:hover {
    color: #D87D4A !important;
}

.add-to-cart-button {
    padding: 1rem 2rem !important;
    color: white !important;
    border-radius: 0 !important;
    background-color: #D87D4A !important;
    font-weight: 700 !important;
}

.add-to-cart-button:hover {
    background-color: #FBAF85 !important;
}

@media screen and (min-width: 0px) {
    .product-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10.5rem 10.5rem 23rem;
        gap: 1.5rem;
        margin-bottom: 7.5rem;
    }

    .product-gallery > :nth-child(1) {
        grid-row: 1;
    }

    .product-gallery > :nth-child(2) {
        grid-row: 2;
    }

    .product-gallery > :nth-child(3) {
        grid-row: 3;
    }
}

@media screen and (min-width: 600px) {
    .product-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 10.5rem);
        gap: 1.5rem;
    }

    .product-gallery > :nth-child(1) {
        grid-row: 1;
        grid-column: 1;
    }

    .product-gallery > :nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    .product-gallery > :nth-child(3) {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
}

@media screen and (min-width: 1200px) {
    .product-gallery {
        grid-template-rows: repeat(2, 17.5rem);
        margin-bottom: 10rem;
    }
}


/*  
    ***********************
        CHECKOUT PAGE
    ***********************  
*/

.customer-form {
    background-color: white !important;
    border-radius: 7px;
}

.form-section-head {
    margin-bottom: 1rem !important;
    font-weight: 700 !important;
    color: #D87D4A;
}

.form-input {
    display: flex;
    flex-direction: column !important;
    gap: 1rem;
    width: 100%;
}

.form-input label {
    font-weight: 600;
}

.form-input input {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 1.25rem 1.5rem;
    font-weight: 600;
}

.form-input input:focus {
    outline: 1px solid #D87D4A;
    border: 1px solid #D87D4A;
}

.form-input input:invalid {
    border: 1px solid red;
    outline: 1px solid red;
}

.form-input input:invalid ~ span {
    display: block;
}

.form-input span {
    display: none;
    color: red;
    font-weight: 600;
}

.form-input div {
    color: red;
    font-weight: 600;
}

.order-summary {
    background-color: white !important;
    border-radius: 7px;
    height: fit-content;
}

.summary-info {
    display: flex;
    justify-content: space-between;
}

.summary-info p {
    font-weight: 500;
    opacity: 0.7;
}

.summary-info span {
    font-weight: 700;
}

.pay-button {
    padding: 1rem 0 !important;
    margin-top: 2rem !important;
    background-color: #D87D4A !important;
    color: white !important;
    border-radius: 0 !important;
    width: 100%;
    font-weight: 600 !important;
    letter-spacing: 1px;
}

.pay-button:hover {
    background-color: #FBAF85 !important;
}

.pay-button:disabled {
    background-color: gray !important;
}

.order-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
}

.order-item-image {
    border-radius: 7px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
}

.order-item img {
    width: 4rem;
    height: 4rem;
    object-fit: contain;
}

.item-name {
    font-weight: 700 !important;
}

.item-price,
.item-quantity {
    font-weight: 700 !important;
    opacity: 0.7;
}




/*  
    ***********************
        ADMIN PAGE(s)
    ***********************  
*/

.sidebar-menu-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    min-width: 14rem;
    height: 100vh;
    background-color: black;
    position: absolute;
    left: 0;
    top: 5.5rem;
    border-top: 2px solid #D87D4A;
    border-right: 2px solid #D87D4A;
}


.layout {
    display: flex;
    height: 100vh;
}

.admin-navlinks {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem 1.5rem;
    color: white;
    text-decoration: none;
}

.admin-navlinks:hover {
    background-color: #D87D4A;
}

.admin-navlinks[data-selected='true'] {
    background-color: #D87D4A;
}

.admin-navlinks span {
    font-weight: 700;
    font-size: 1.125rem;
}

.product-table,
.order-info-table,
.order-items-table {
    min-width: 50rem;
    border-radius: 7px;
    background-color: white;
}

.order-table {
    min-width: 60rem;
    border-radius: 7px;
    background-color: white;
}

.order-table td,
.order-info td,
.order-items-table td {
    font-weight: 500;
}

.product-table th,
.order-table th,
.order-info-table th,
.order-items-table th {
    font-weight: 700;
}

.order-items-table > tbody > tr:first-child > td {
    font-weight: 700;
}

.order-items-table > tbody > tr:first-child {
    background-color: #FBAF85;
}

.product-table tr > td:first-child,
.order-table tr > td:first-child,
.order-table tr > td:nth-child(2),
.order-info-table tr > td:first-child,
.order-items-table tr > td:first-child {
    font-weight: 700;
}

.order-info {
    margin-bottom: 1.5rem;
}

.delivery-status > div {
    text-align: center;
    padding: 0.25rem;
    border-radius: 15px;
    font-weight: 700;
    letter-spacing: 0.5px;
}

.delivery-status[data-status='Canceled'] > div {
    background-color: rgba(255, 2, 2, 0.788);
}

.delivery-status[data-status='Pending'] > div {
    background-color: rgb(253, 208, 8);
}

.delivery-status[data-status='Delivered'] > div {
    background-color: rgba(4, 177, 4, 0.945);
}


.order-info-grid {
    background-color: white;
    border-radius: 7px;
}

.order-info-grid > div:first-child {
    padding: 1.5rem 1rem;
}

.order-info-grid > div {
    padding: 0.75rem 1rem;
}

.order-info-grid > div:not(:last-child) {
    border-bottom: 1px solid rgb(185, 185, 185);
}

.grid-section-head {
    font-weight: 700;
}

.grid-section-cell {
    font-weight: 500 !important;
}

.new-product-details-form {
    background-color: white;
    border-radius: 7px;
    padding: 2.5rem 3rem;
}

.back-button-alt {
    text-decoration: none;
    color: black;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-weight: 500;
    width: fit-content;
}

.back-button-alt:hover {
    color: #D87D4A;
}


.outlined-button {
    color: #D87D4A !important;
    border-color: #D87D4A !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
}

.outlined-button:hover {
    background-color: #D87D4A !important;
    color: white !important;
}


.text-button {
    color: #D87D4A !important;
    font-weight: 600 !important;
    letter-spacing: 0.5px;
    width: 100%;
}

.text-button:hover {
    border: 1px solid #D87D4A !important;
}

.submit-button {
    background-color: #D87D4A !important;
    font-weight: 700 !important;
    letter-spacing: 0.5px;
    width: 100%;
}

.submit-button:hover {
    background-color: #FBAF85 !important;
}

.delete-button {
    background-color: red !important;
    color: white !important;
    font-weight: 700 !important;
    letter-spacing: 1px !important;
}

.delete-button:hover {
    background-color: tomato !important;
}

.new-product-basic-details-grid {
    margin-bottom: 1rem;
}

.new-product-images-grid-section {
    display: flex;
    flex-direction: column !important;
    gap: 0.75rem;
}

.new-product-images-grid-section > label {
    font-weight: 600;
}

.new-product-actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-top: 1.5rem;
}

.new-product-actions button {
    width: 10rem;
}

.new-product-images-grid {
    margin-bottom: 2rem;
}

.page-header {
    font-weight: 700 !important;
    margin-bottom: 2rem !important;
}

.summary-stats {
    margin-bottom: 2rem;
}

.summary-stats > div {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    background-color: white;
    border-radius: 7px;
    border: 1px solid gray;
}

.summary-stats p {
    font-weight: 700 !important;
}




/*  
    ***********************
        ORDER COMPLETE MODAL
    ***********************  
*/

.order-items {
    background-color: #F1F1F1;
    padding: 1.5rem;
}

.order-total {
    background-color: black;
    padding: 1.5rem;
}