

.removeAllButton {
    color: black !important;
    opacity: 0.6;    
}

.menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%) !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1 !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-weight: 700;
}

.categoryCard a:hover {
    color: #D87D4A;
    opacity: 1;
}

.navlinks a,
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.footer-container p {
    color: white;
    opacity: 0.6;
    font-weight: 500;
}


/*  
    ***********************
        HOME PAGE
    ***********************  
*/

.showcase-a,
.showcase-b,
.showcase-c > * {
    border-radius: 7px;
}

.showcase-a {
    background-color: #D87D4A;
    color: white;
}

.showcase-a-img {
    background: url(../assets/home/image-speaker-zx9.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.showcase-a a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
}

.showcase-a a:hover {
    background-color: #4C4C4C;
}

.showcase-b {
    background: url(../assets/home/image-speaker-zx7.jpg) no-repeat center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase-b a,
.showcase-c a {
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    width: fit-content;
}

.showcase-b a:hover,
.showcase-c a:hover {
    background-color: black;
    color: white;
}

.showcase-c-img {
    background: url(../assets/home/image-earphones-yx1.jpg) no-repeat center;
    background-size: cover;
}

.showcase-c-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
}


/*  
    ***********************
        ABOUT US
    ***********************  
*/

.about-us-img {
    background: url(../assets/home/image-best-gear.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.about-us-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.about-us-text p {
    opacity: 0.6;
}


/*  
    ***********************
        CATEGORY PAGE
    ***********************  
*/

.category-page-category {
    color: white;
    background-color: black;
    font-weight: 700 !important;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    border-top: 1px solid white;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
    border-radius: 7px;
}

.product-name {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

.product-description {
    opacity: 0.6;
}

.product-info a {
    text-decoration: none;
    background-color: #D87D4A;
    color: white;
    padding: 1rem 2rem;
    display: inline-block;
}

.product-info a:hover {
    background-color: #FBAF85;
}


/*  
    ***********************
        PRODUCT PAGE
    ***********************  
*/
.gallery-image {
    width: 100%;
    height: 100%;
    border-radius: 7px;
}

.product-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F1F1F1;
}

.quantity-button {
    padding: 1rem;
}

.quantity-button:hover {
    color: #D87D4A;
}

.add-to-cart-button {
    padding: 1rem 2rem;
    color: white;
    border-radius: 0;
    background-color: #D87D4A;
    font-weight: 700;
}

.add-to-cart-button:hover {
    background-color: #FBAF85;
}

@media screen and (min-width: 0px) {
    .product-gallery {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 10.5rem 10.5rem 23rem;
        gap: 1.5rem;
        margin-bottom: 7.5rem;
    }

    .product-gallery > :nth-child(1) {
        grid-row: 1;
    }

    .product-gallery > :nth-child(2) {
        grid-row: 2;
    }

    .product-gallery > :nth-child(3) {
        grid-row: 3;
    }
}

@media screen and (min-width: 600px) {
    .product-gallery {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 10.5rem);
        gap: 1.5rem;
    }

    .product-gallery > :nth-child(1) {
        grid-row: 1;
        grid-column: 1;
    }

    .product-gallery > :nth-child(2) {
        grid-row: 2;
        grid-column: 1;
    }

    .product-gallery > :nth-child(3) {
        grid-row: 1 / span 2;
        grid-column: 2;
    }
}

@media screen and (min-width: 1200px) {
    .product-gallery {
        grid-template-rows: repeat(2, 17.5rem);
        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 1200px) {
    .page-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}