

.removeAllButton {
    color: black !important;
    opacity: 0.6;    
}

.menuCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0, 0%, 95%) !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F1F1F1 !important;
    border-radius: 7px;
    width: 100%;
}

.categoryCard a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
    font-weight: 700;
}

.navlinks a,
.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.footer-container p {
    color: white;
    opacity: 0.6;
    font-weight: 500;
}


/*  
    ***********************
        HOME PAGE
    ***********************  
*/

.showcase-a,
.showcase-b,
.showcase-c > * {
    border-radius: 7px;
}

.showcase-a {
    background-color: #D87D4A;
    color: white;
}

.showcase-a-img {
    background: url(../assets/home/image-speaker-zx9.png) no-repeat;
    background-position: center bottom;
    background-size: contain;
}

.showcase-a a {
    background-color: black;
    color: white;
    text-decoration: none;
    font-weight: 700;
    padding: 1rem 2rem;
    display: inline-block;
}

.showcase-a a:hover {
    background-color: #4C4C4C;
}

.showcase-b {
    background: url(../assets/home/image-speaker-zx7.jpg) no-repeat center;
    background-size: cover;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.showcase-b a,
.showcase-c a {
    text-decoration: none;
    padding: 1rem 2rem;
    font-weight: 700;
    color: black;
    border: 1px solid black;
    width: fit-content;
}

.showcase-b a:hover,
.showcase-c a:hover {
    background-color: black;
    color: white;
}

.showcase-c-img {
    background: url(../assets/home/image-earphones-yx1.jpg) no-repeat center;
    background-size: cover;
}

.showcase-c-link-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: #F1F1F1;
    height: 100%;
    width: 100%;
}


/*  
    ***********************
        ABOUT US
    ***********************  
*/

.about-us-img {
    background: url(../assets/home/image-best-gear.jpg) no-repeat center;
    background-size: cover;
}

.about-us p {
    opacity: 0.6;
}